<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    {% block head %}
        <title>Foodfy - as melhores receitas</title>
    {% endblock head %}    
</head>
<body>

    <header>
        <div class="content">
            <a href="/">
                <div class="logo"></div>
            </a>

            {% block menu %}
                <div class="menu">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                </div>
            {% endblock menu %}

            
        </div>        
    </header>

   {% block content %}
   {% endblock content %}

    
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>      
</body>
</html>